In [6]:
a='C,B,A'
b=['F','G','H']
c=a.split(',')
d=c+b
d[0]='K'
e=d.pop(2)
print(e)
del d[1:4]
d.append('U')
print(d)

A
['K', 'H', 'U']

In [4]:
a=input('輸入八位數數字')
print(a[4])

輸入八位數數字12345678
5

In [15]:
a='MY ID is B1206019'
b=a.split(' ')
print(len(b))
print(len(b[3]))

4
8

In [30]:
a="I'm a student"
b=a.split("'")
c=b[1]
d=c.split(' ')
print(d[0])

m